/*Comporte aussi css de cgu*/

.CGVpdf,
.RGPDpdf {
  width: 60vw;
  height: 100vh;
}
.CGV,
.RGPD {
  width: 100%;
  height: 120vh;
  right: -10%;
  position: relative;
  margin-top: 2vw;
  text-align: center;
}
h1 {
  color: #e1531f;
  font-weight: 900;
  font-size: 180%;
  margin: 1em 0;
}

.apropos {
  width: 70%;
  right: -10%;
  position: relative;
  margin-left: 15%;
  text-align: justify;
  font-size: larger;
  color: aliceblue;
  margin-bottom:5em ;
}

.cgu,
.mentionslégales {
  width: 70%;
  right: -10%;
  position: relative;
  margin-top: 2vw;
  margin-left: 15%;
  text-align: justify;
  font-size: larger;
  color: rgb(241, 236, 236);
}

.mentionslégales {
  margin-top: -4vw;
  margin-bottom: 2vw;
}
