.CGVpdf,
.RGPDpdf {
  width: 60vw;
  height: 100vh;
}
.CGV,
.RGPD {
  width: 100%;
  height: 200%;
  right: -10%;
  position: absolute;
  margin-top: 2vw;
  text-align: center;
}
h1 {
  color: #e1531f;
  font-weight: 900;
  font-size: 180%;
}