.image {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  display: block;
}


.logoPanier{
  position: sticky;
  top: 5%;
  left: 95%;
  width: 50px;
}
.arrowUp{
  position: sticky;
  left: 95%;
  width: 50px;
}

.article-preview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-top: 3rem;
  margin-left: 25%;
  margin-right: 7%;
  margin-bottom: 5rem;
}
.article-preview-grid {
  width: 100%; 
  transition: 300ms;
  overflow: hidden;
  position: relative;
}
.container_description{
  display: block;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  height: 10rem;
  opacity: 0;
  color: white;
  background-color: #4b5763;
  transition: 0.4s ease;
  overflow-y: scroll;
}
.article-preview-grid:hover .container_description{
  opacity: 1;
  height: 30%;
  padding-bottom: 0%;
  bottom: 2.5rem;
}

.container_info {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 5px;
  background-color: #4b5763;
  color: white;
  padding: 5px;
}
.container_price {
  display:flex;
  background-color: #4b5763;
  color: white;
  padding: 10px;
  font-weight: bold;
  position: relative;
  z-index: 101;
}
.article{
  font-family: "Maitree", serif;
}
  .container_description::-webkit-scrollbar {
    display: none;
  }