.image {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  display: block;
}

.container_price .plusPanier{
  width: 25px;
  height: 25px;
}
.logoPanier{
  
  position: sticky;
  top: 5%;
  left: 95%;
  width: 50px;
}

.article-preview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-top: 3rem;
  margin-left: 25%;
  margin-right: 7%;
  margin-bottom: 5rem;
}
.article-preview-grid {
  width: 100%; 
  transition: 300ms;
  overflow: hidden;
  position: relative;
}
.container_description{
  display: block;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  height: 10rem;
  opacity: 0;
  color: white;
  background-color: #4b5763;
  transition: 0.4s ease;
  overflow-y: scroll;
}
.article-preview-grid:hover .container_description{
  opacity: 1;
  height: 50%;
  padding-bottom: 0%;
  bottom: 2.5rem;
}

.container_info {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 5px;
  background-color: #4b5763;
  color: white;
  padding: 5px;
}
.container_price {
  display:flex;
  background-color: #4b5763;
  color: white;
  padding: 10px;
  font-weight: bold;
  position: relative;
  z-index: 101;
  justify-content: space-between;
}
.article{
  font-family: "Maitree", serif;
}
/*
  .article-preview-grid {
    position: relative;
  }
  
  .image {
    width: 15rem;
    height: 18rem;
    object-fit: cover;
  }
  
  .container_info {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 9rem;
    right: 0;
    bottom: 0;
  }
  
  .container_price {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 16rem;
    margin: 5px 0;
  }*/

  .container_description::-webkit-scrollbar {
    display: none;
  }