* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  overflow-x: hidden;
  font-family: "Maitree", serif;
  background-color: #233747;
}
/* Titres et logos */

/* Sous-titres, slogan et liens nav bar 
font-family: 'Amiri', serif;
*/

/* Nav Link */
.logo {
  height: auto;
  width: 100%;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 20%;
  height: 100%;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  position: fixed;
}
.wrapper .sidebar h2 {
  font-family: "Italianno", cursive;
  color: #fff;
  text-align: center;
  padding-bottom: 0;
  font-size: 6em;
  font-weight: 300;
}
.wrapper .sidebar h3 {
  font-family: "Amiri", serif;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  font-size: 2em;
  font-weight: 300;
  transform: translateY(-50px);
}
.wrapper .sidebar ul {
  transform: translateY(-50px);
}
.wrapper .sidebar ul li {
  padding: 15px;
  margin-left: 3rem;
  padding: 0;
}

.wrapper .sidebar ul li a {
  color: #ffffff;
  display: block;
  font-weight: bold;
  font-size: 1.3em;
}

.wrapper .sidebar ul li:hover a {
  color: #ec0d0d;
}

.sidebar .maps {
  display: flex;
  margin: auto;
  border: none;
}
.wrapper .sidebar .social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  font-size: 2em;
  gap: 1em;
}

.wrapper .sidebar .social_media a {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #000000;
}

.social_media a i {
  transition: all 0.2s ease-in-out;
}

.social_media a:hover i {
  transform: scale(1.5);
}
header .GIF {
  width: 80%;
  height: 18rem;
  transform: translateX(25%);
  background-size: cover;
  object-fit: cover;
}
footer {
  display: flex;
  justify-content: space-around;
  height: 15em;
  margin-left: 20%;

  display: flex;
  background: #5e5e5e;
}
.lien {
  border: 1px solid goldenrod;
  gap: 10px
}
