* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  overflow-x: hidden;
  font-family: "Maitree", serif;
  background-color: #233747;
}
/* Titres et logos */

/* Sous-titres, slogan et liens nav bar 
font-family: 'Amiri', serif;
*/

/* Nav Link */
.logo {
  height: auto;
  width: 100%;
}

.wrapper {
  display: flex;
  position: relative;
}
header {
  margin-bottom: 0;
  padding-bottom: 0;
  height: 40vh;
}
.wrapper .sidebar {
  width: 20%;
  height: 100%;
  background: #4b5763;
  position: fixed;
  border-right: 5px solid white;
}

.wrapper .sidebar a {
  text-decoration: none;
  color: white;
  display: block;
}

.wrapper .sidebar h2 {
  font-family: "Italianno", cursive;
  color: #fff;
  text-align: center;
  padding-bottom: 0;
  font-size: 6rem;
  font-weight: 300;
}
.wrapper .sidebar h3 {
  font-family: "Amiri", serif;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: 300;
  transform: translateY(-50px);
}
.wrapper .sidebar ul {
  transform: translateY(-50px);
}
.wrapper .sidebar ul li {
  list-style: none;
  padding: 15px;
  margin-left: 1rem;
  padding: 0;
}

.wrapper .sidebar ul li a {
  color: #ffffff;
  display: block;
  font-weight: bold;
  font-size: 1.3em;
  padding: 1%;
}

.navbar li ul {
  display: none;
  height: auto;
  margin: 0;
  padding: 0;
}

.wrapper .sidebar ul li:hover a {
  color: #233747;
}

.sidebar .maps {
  display: flex;
  margin: auto;
  border: none;
  width: 90%;
  height: 30%;
}
.wrapper .sidebar .social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  font-size: 2em;
  gap: 1em;
}

.wrapper .sidebar .social_media a {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #000000;
}

.social_media a i {
  transition: all 0.2s ease-in-out;
}

.social_media a:hover i {
  transform: scale(1.5);
}
header .GIF {
  width: 80%;
  height: 40vh;
  transform: translateX(25%);
  background-size: cover;
  object-fit: cover;
  margin-bottom: 0;
  padding-bottom: 0;
}

.footer {
  display: flex;
  color: #fffefe;
  padding: 2rem 0;
  margin-left: 20%;
  height: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #233747;
  border-top: 5px solid white;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.footer h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.links li {
  list-style: none;
  line-height: 30px;
  text-align: center;
  font-weight: 100;
}

.links li a {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.links li a:hover {
  color: #e62ab7;
  transform: scale(1.5);
}
.Enregistrement {
  display: flex;
  flex-direction: column;
}

.Enregistrement input {
  padding: 10px;
  font-weight: 100;
  border: none;
  outline: none;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  margin: 1rem 0;
}

button {
  border: none;
  padding: 12px 0;
  border-radius: 30px;
  cursor: pointer;
}

.Tel {
  text-align: center;
  margin-bottom: 10px;
}

.Copyright {
  color: #fff;
  margin-left: 20%;
  justify-content: center;
  text-align: center;
}
/* ooooooooooooooooooooo */

#category-banner-wrapper {
  background-color: #233747;
  margin-left: 20%;
  height: 60vh;
}

.textNouveautee {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
  color: #000000;
}

.titreNouveautee {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.descriptionText {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.containerText {
  position: relative;
  margin-bottom: 20px;
}

.descriptionTexte {
  margin: 0;
  color: white;
  width: 100%;
}

.buttonNews {
  display: inline-block;
  border-radius: 3px;
  padding: 10px;
  background-color: #4b5763;
  max-width: 800px;
  width: 100%;
  text-align: center;
  border-radius: 15px;
}

.listNouveautes {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nouveautés {
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  border: 2px solid white;
  padding: 5px 70px;
  margin: 15px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  background-color: transparent;
  transition: background-color 0.2s;
}

.nouveautés:hover {
  background-color: #fff;
  color: #000000;
  font-weight: bold;
}

.formHead {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  background-color: #233747;
  height: 30vh;
  width: 100%;
}

label {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 200px;
  font-weight: bold;
  color: #fff;
}

select,
input[type="text"] {
  display: block;
  justify-content: start;
  text-align: center;
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  height: 40px;
}

select:focus,
input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 4px #ccc;
}

button {
  display: inline-block;
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
  border: 2px solid white;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #fdfdfd;
  color: #000000;
  font-weight: bold;
}

.premierLigne,
.deuxiemeLigne {
  display: flex;
  width: 100%;
  gap: 3%;
}
.buttonRecherche {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Css de la page article  */

#PageArticle main {
  margin-left: 20%;
  display: flex;
  justify-content: space-around;
}
#PageArticle .image {
  width: 50%;
  height: 80%;
  object-fit: con A tain;
  margin: 0 auto;
}
#PageArticle .image img {
  width: 100%;
  margin-top: 10%;
}

#PageArticle .article {
  width: 50%;
  display: block;
  padding: 5%;
}

#PageArticle .article p {
  font-size: 1.3rem;
  text-align: justify;
}
