* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Maitree", serif;
}
/* Titres et logos
font-family: 'Italianno', cursive;

Sous-titres, slogan et liens nav bar 
font-family: 'Amiri', serif;
*/

/* Nav Link */
.logo {
  height: auto;
  width: 100%;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 20%;
  height: 00%;
  background: linear-gradient(
      to bottom,
      1 rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  position: fixed;
}

.wrapper .sidebar ul li {
  padding: 15px;
  margin-left: 3rem;
  margin-top: 2rem;
}

.wrapper .sidebar ul li a {
  color: #ffffff;
  display: block;
  font-weight: bold;
  font-size: 1.3em;
}

.wrapper .sidebar ul li:hover a {
  color: #ec0d0d;
}

.sidebar .maps {
  display: flex;
  margin: auto;
  padding-top: 15%;
  border: none;
}
.wrapper .sidebar .social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  font-size: 2em;
  gap: 1em;
}

.wrapper .sidebar .social_media a {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #000000;
}
