* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  overflow-x: hidden;
  font-family: "Maitree", serif;
  background-color: #233747;
}
/* Titres et logos */

/* Sous-titres, slogan et liens nav bar 
font-family: 'Amiri', serif;
*/

/* Nav Link */
.logo {
  height: auto;
  width: 100%;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 20%;
  height: 100%;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  position: fixed;
}
.wrapper .sidebar h2 {
  font-family: "Italianno", cursive;
  color: #fff;
  text-align: center;
  padding-bottom: 0;
  font-size: 6rem;
  font-weight: 300;
}
.wrapper .sidebar h3 {
  font-family: "Amiri", serif;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: 300;
  transform: translateY(-50px);
}
.wrapper .sidebar ul {
  transform: translateY(-50px);
}
.wrapper .sidebar ul li {
  padding: 15px;
  margin-left: 3rem;
  padding: 0;
}

.wrapper .sidebar ul li a {
  color: #ffffff;
  display: block;
  font-weight: bold;
  font-size: 1.3em;
}

.wrapper .sidebar ul li:hover a {
  color: #233747;
}

.sidebar .maps {
  display: flex;
  margin: auto;
  border: none;
}
.wrapper .sidebar .social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  font-size: 2em;
  gap: 1em;
}

.wrapper .sidebar .social_media a {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #000000;
}

.social_media a i {
  transition: all 0.2s ease-in-out;
}

.social_media a:hover i {
  transform: scale(1.5);
}
header .GIF {
  width: 80%;
  height: 40vh;
  transform: translateX(25%);
  background-size: cover;
  object-fit: cover;
}
footer {
  justify-content: center;
  height: 15em;
  margin-left: 20%;
  background: #5e5e5e;
}
small {
  padding-left: 15%;
}
.liensCliquables {
  margin-top: 5%;
  justify-content: center;
  padding-left: 20%;
}
.lien a {
  color: #ffffff;
  text-align: center;
}
footer .lien :hover {
  color: #233747;
}


/* ooooooooooooooooooooo */

#category-banner-wrapper {
  background-color: #f9f9f9;
  margin-left: 20%;
}

.textNouveautee {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.titreNouveautee {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
}

.descriptionText {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.containerText {
  position: relative;
  margin-bottom: 20px;
}

.descriptionTexte {
  margin: 0;
}

.buttonNews {
  display: inline-block;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
  padding: 20px;
  background-color: #ffffff;
  max-width: 800px;
  width: 100%;
  text-align: center;
}

.listNouveautes {
  display: flex;
  list-style-type: none;
  margin: 5% 0;
  padding: 0;
}

.nouveautés {
  display: flex;
  justify-content: center;
  text-align: center;

  border-radius: 20px;
  padding: 8px 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  transition: background-color 0.2s;
}

.nouveautés:hover {
  background-color: #333333;
}

.containerNouveautee {
  display:inline-block;
  justify-content: space-between;
  align-items: center;
}
form {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
}

label {
  display: block;
  width: 100%;
  font-weight: bold;
  color: #333;
}

select,
input[type="text"] {
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
}

select:focus,
input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 4px #ccc;
}

button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}
